.App {
  text-align: center;
  background-color: black;
  /* height: 100%; */
}

.Pharaohs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Control {
  top: 0;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Title {
  font-size: 100px;
  width: 100%;
  background: -webkit-linear-gradient(#ffe998, #57370d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


